.sectionOne {
    background-color: var(--color-blue-100);
    height: auto;
    width: 100%;
}
.sectionOne--title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}
.sectionOne--nav {
    gap: 3px;
}

.item1,
.item2,
.item3 {
    background-color: var(--color-blue-50);
    width: fit-content;
    padding: 3px 8px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}


.item1 a:active {
    background-color: var(--color-blue-50);
}


.sectionTwo {
    height: auto;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}