/*
** ! style rules for sectionOne
*/
.sectionOne__left--text {
    font-family: var(--font-2);
    font-size: var(--body);
    color: var(--color-white-75);
    line-height: 1.5;
}
.sectionOne__left--btn {
    align-self: start;
    margin-top: 30px;
}
.sectionOne__left--btn a {
    color: var(--color-white-75);
}

.card {
    border-radius: 8%;
    
}
.card img{
 align-self: center;
    
}
/*
** ! style rules for sectionTwo
*/
.sectionTwo {
    padding: 40px 0;
    display: grid;
    gap: 30px;
    
}
.sectionTwo__logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 8px;
}
.sectionTwo__logo img {
    justify-self: center;
    align-self: center;
}
[class ^="sectionTwo__logo--"] {
    max-width: 40%;
    height: auto;
}
#figma,
#google,
#codecademy,
#youtube {
    max-width: 80%;
    height: auto;
}
.sectionTwo__content--text {
    line-height: 1.5;
    font-family: var(--font-2);
    font-size: var(--body);
}
/*
** ! style rules for sectionThree
*/

.sectionThree__left {
    max-width: 80%;
}
.sectionTree__right-text {
    color: var(--color-dark-75);
    font-family: var(--font-2);
    font-size: var(--body);
}
.sectionTree__right-button {
    align-self: flex-start;
}
/* Meal maker
*/
#mealMakerLogo{
 border-radius: 12px;
}
.mealToday-btn {
align-self: flex-start;
}
.meal-maker-img {
 max-width: 70%;
}
#textForTodayMeal {
    color: rgb(255, 228, 196);
}
#meal,
#dessert {
    color: bisque;
    font-size: var(--h5);
    text-indent: 5px;
}
.meal-list li{
    color: var(--color-white-75);
}
#list-no-bullet{
    list-style-type: none;
}
#list-circle {
    list-style-type: circle;
}
.background-mealMaker {
    background-color: rgba(255, 228, 196, 0.5);

}
.left {
align-self: start;
}