/*
** ! style rules for sectionOne
*/

.sectionOne__left--text {
    font-family: var(--font-2);
    font-size: var(--body);
    color: var(--color-white-75);
    line-height: 1.5;
}
.sectionOne__left--btn {
    align-self: start;
    margin-top: 30px;
}
.sectionOne__left--btn a {
    color: var(--color-white-75);
}

.card {
    border-radius: 8%;
    
}
.card img{
 align-self: center;
    
}
/*
** ! style rules for sectionTwo
*/
.sectionTwo {
    padding: 40px 0;
    display: grid;
    gap: 30px;
    
}
.sectionTwo__logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 8px;
}
.sectionTwo__logo img {
    justify-self: center;
    align-self: center;
}
[class ^="sectionTwo__logo--"] {
    max-width: 40%;
    height: auto;
}
#figma,
#google,
#codecademy,
#youtube {
    max-width: 80%;
    height: auto;
}
.sectionTwo__content--text {
    line-height: 1.5;
    font-family: var(--font-2);
    font-size: var(--body);
}
/*
** ! style rules for sectionThree
*/
.sectionThree {
    position: relative;
    padding: 20px 0;
}
      
.sectionThree__right-text {
    color: var(--color-dark-75);
    font-family: var(--font-2);
    font-size: var(--body);
}


/*
** ! style rules for sectionFour
*/
.item-1-title,
.item-2-title,
.item-3-title,
.item-4-title,
.item-5-title,
.item-6-title,
.item-7-title,
.item-1-image,
.item-2-image,
.item-3-image,
.item-4-image,
.item-5-image,
.item-6-image,
.item-7-image {
    align-self: center;
}

.item-2-title {
    grid-area: main-left-row2;
    text-align: right;
    justify-self: end;
    color: darkcyan;
}
.item-2-image {
    grid-area: main-left-img-row2;
    justify-self: start;

}
.item-4-title {
    grid-area: main-left-row4;
    text-align: right;
    justify-self: end;
    color: #e34c26;
}
.item-4-image {
    grid-area: main-left-img-row4;
    justify-self: start;

}
.item-6-title {
    grid-area: main-left-row6;
    text-align: right;
    justify-self: end;
    color: blueviolet;
}
.item-6-image {
    grid-area: main-left-img-row6;
    justify-self: start;

}
.item-1-title {
    grid-area: main-right-row1;
    justify-self: start;
    color: hsl(189, 66%, 48%);
}

.item-3-title {
    grid-area: main-right-row3;
    justify-self: start;
    color: #f06529;
}
.item-1-image {
    grid-area: main-right-img-row1;
    justify-self: end;
}

.item-3-image {
    grid-area: main-right-img-row3;
    justify-self: end;
}
.item-5-title {
    grid-area: main-right-row5;
    justify-self: start;
    color: #f0d24f;
}
.item-5-image {
    grid-area: main-right-img-row5;
    justify-self: end;
}
.item-7-title {
    grid-area: main-right-row7;
    justify-self: start;
    color: darkslateblue;
}
.item-7-image {
    grid-area: main-right-img-row7;
    justify-self: end;
}

.sectionFour__stages {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 25% 2% 5% 2% 5% 2% 25% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". . . . . main-right-img-row1 . main-right-row1 ."
        ". main-left-row2 . main-left-img-row2  . . . . ."
        ". . . . . main-right-img-row3 . main-right-row3 ."
        ". main-left-row4 . main-left-img-row4  . . . . ."
        ". . . . . main-right-img-row5 . main-right-row5 ."
        ". main-left-row6 . main-left-img-row6  . . . . ."
        ". . . . . main-right-img-row7 . main-right-row7 .";
}
.sectionFour-button {
    align-self: center;
    justify-self: center;
    margin-top: 40px;
}

/* Meal maker
*/
#mealMakerLogo{
 border-radius: 12px;
}
.mealToday-btn {
align-self: flex-start;
}
.meal-maker-img {
 max-width: 70%;
}
#textForTodayMeal {
    color: rgb(255, 228, 196);
}
#meal,
#dessert {
    color: bisque;
    font-size: var(--h5);
    text-indent: 5px;
}
.meal-list li{
    color: var(--color-white-75);
}
#list-no-bullet{
    list-style-type: none;
}
#list-circle {
    list-style-type: circle;
}
.background-mealMaker {
    background-color: rgba(255, 228, 196, 0.5);

}
.left {
align-self: start;
}
/* 
Number Guesser
*/
.sectionThree {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
.sectionThree__left-number,
.box {
 display: flex;
 align-items: center;
 justify-content: center;
 align-self: center;
 justify-self: center;
}
.sectionThree__left,
.sectionThree__right {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    
}
.sectionThree__left {
    background-color: var(--color-yellow-50);
}
.sectionThree__right-content  {
    padding-bottom: 20px;
}
.sectionThree__right-button {
    align-self: center;
}
.sectionThree__right-number-control-left {
    background-color: var(--color-white-100);
    padding: 5px 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.sectionThree__right-number-control-right {
    background-color: var(--color-white-100);
    padding: 5px 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.sectionThree__right-number-control {
    display: inline-flex;
    gap: 1px;
    padding-bottom: 20px;
}

.sectionFive__col-1,
.sectionFive__col-2,
.sectionFive__col-3 {
    display: flex;
    justify-content: start;
    background-color: var(--color-white-100);
    height: 190px;
    padding: 30px;

}

.sectionFive__col-1-title,
.sectionFive__col-2-title,
.sectionFive__col-3-title {
    color: var(--color-blue-100);
}




